.message_container{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left: 0;
	z-index:9999;
}
.message_outerBox{
	max-width:400px;
	width:80%;
	height:auto;
	margin: 10px auto auto auto;
	position: relative;
	padding: 10px;
	border: black 2px solid;
	border-radius: 10px;
	background:white;
}
.message_innerBox{
	width:100%;
	height:auto;
	max-width: 100%;
	max-height: 100%;
	color:black;
}
.message_head{
	width:100%;
	height:auto;
	text-align: center;
	font-size: larger;
	font-weight: bold;
}
.message_main{
	width:100%;
	height:auto;
	max-height: 300px;
	margin: 10px 0;
	word-wrap: break-word;
	overflow-y: auto;
	border: black 2px solid;
	border-radius: 5px;
}
.message_foot{
	width:100%;
	height:auto;
	text-align: center;
}
.message_button{
	display: inline-block;
	margin: auto 5px;
	padding: 0 5px;
	border: black 2px solid;
	border-radius: 5px;
	cursor: pointer;
	background: rgb(232, 232, 232);
}
.message_button:hover{
	background: rgb(177, 177, 177);
	color: white;
}